annotated-types
anyio
attrs
cachetools
certifi
cffi
charset-normalizer
colorama
decorator
et_xmlfile
fastapi
filelock
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httplib2
idna
imageio
imageio-ffmpeg
Jinja2
joblib
llvmlite
MarkupSafe
more-itertools
moviepy
mpmath
networkx
numba
numpy
openai-whisper
openpyxl
outcome
pandas
pillow
proglog
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
qrcode
regex
requests
rsa
scikit-learn
scipy
selenium
setuptools
six
sniffio
sortedcontainers
starlette
sympy
threadpoolctl
tiktoken
torch
tqdm
trio
trio-websocket
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
websocket-client
wsproto
yt-dlp
